<%- include('../partials/html-head.ejs') %>
  <link rel="stylesheet" href="/stylesheets/flights/show.css" />
  <%- include('../partials/nav.ejs') %>

    <main>
      <h1><%= title %></h1>
      <section>
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>FlightNo: </div>
        <div><%= flight.flightNo %></div>
        <div>Departs: </div>
        <div><%= flight.departs %></div>
      </section>

      <h2>Tickets</h2>
      <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
        <label for="seat-input">Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <label for="price-input">Price:</label>
        <input name="price">
        <button type="submit">Add Ticket</button>
      </form>

      <% flight.tickets.forEach(function(ticket) { %>
        <section id='created-ticket'>
          <h3>Ticket:</h3>
          <div>Date created: <%= ticket.createdAt.toLocaleDateString() %></div>
          <div>Seat: <%= ticket.seat %></div>
          <div>Price: <%= ticket.price %></div>
        </section>
        <% }) %>

          <h2>Destinations</h2>
          <ul>
            <%- flight.destination.map(d=>
              `<li>${d.airport}</li>`
              ).join('') %>
          </ul>
          <% %>
            <form id="add-des-to-flight" action="/flights/<%= flight._id %>/destinations" method="POST">
              <select name="destinationId">
                <%- destinations.map(d=>
                  `<option value="${d._id}">${d.airport}</option>`
                  ).join('') %>
              </select>
              <button type="submit">Add to Flight</button>
            </form>

    </main>

    <%- include('../partials/footer.ejs') %>